@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Play|Monoton);
@import url(all.min.css);
@import url(normalize.css);

/*font*/
body {
  font-family: 'Play', sans-serif;
  color: #222
}
.font-mono {
  font-family: 'Monoton'
}

/*layout*/
body {
  background: #000
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  
  z-index: -1
}
.bg video {
  min-width: 100%;
  min-height: 100%
}

/*header*/
header {
  position: fixed;
  left: 0;
  top: 0;
  
  width: 600px;
  height: 100%;
  
  background: 
    linear-gradient(rgba(185,250,5,0.7), rgba(110,150,0,0.5));
  
  transform: skewX(-35deg);
  transform-origin: left top
}
header b {
  display: inline-block;
  transform: skewX(35deg)
}
header i {
  margin-right: 10px
}

.gnb {
  position: absolute;
  right: 0;
  top: 150px;
  
  width: 200px
}
/*1depth*/
.gnb > li {
  position: relative;
/*서브메뉴 기준때문에 선언*/
}
.gnb > li > a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 40px
}
.gnb > li:hover > a,
.gnb > li.on {
  background: #222;
  color: #eee
}

/*2depth*/
.gnb .sub-menu {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s
}
.gnb .sub-menu li {
  margin-bottom: 5px
}
.gnb .sub-menu a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #ccc;
  background: rgba(51, 51, 51, 0.9);
  text-align: center;
  border-bottom: solid 1px #b9fb05
}
.gnb .sub-menu a:hover {
  background: rgba(185, 251, 5, 0.8);
  color: #222
}

.gnb > li:hover .sub-menu,
.gnb > li.on .sub-menu {
  left: 185px;
  opacity: 1
}
.gnb > li.on .sub-menu {
  top: -10px
}
.gnb > li.on .sub-menu a {
  background: rgba(185, 251, 5, 0.7);
  color: #222;
  transition: all 0.5s
}
.gnb > li.on .sub-menu a:hover {
  background: rgba(185, 251, 5, 0.1);
  color: #fff
}

/*logo*/
.hidden {
  display: none
}
.logo {
  position: fixed;
  left: 30px;
  top: 30px
}
.logo img {
  width: 250px
}

/*sns*/
.sns {
  position: fixed;
  right: 30px;
  top: 30px
}
.sns a {
  font-size: 25px;
  padding: 5px;
  color: #aaa;
  transition: all 0.3s
}
.sns a:hover {
  color: #b9fb05;
  transform: translateY(-5px) rotate(-10deg)
}

/*text-box*/
.text-box {
  position: fixed;
  right: 50px;
  top: 200px;
  color: #eee
}

.text-box .t1 {
  font: 150px/1 'Monoton';
  color: #b9fb05;
  text-shadow: 3px 3px 5px #111
}
.text-box .t1 em {
  font: italic 50px 'Play';
  color: #eee
}

.text-box .t2 {
  font-size: 30px
}
.text-box .t2 strong {
  font-size: 35px;
  color: #b9fb05;
  margin-left: 10px;
  text-shadow: 2px 2px 4px #111, 0 0 10px #ccc
}

/*aside*/
.text-box {
  z-index: 1
}
aside {
  position: fixed;
  right: -350px;
  top: 0;
  
  width: 600px;
  height: 100%;
  
  background: rgba(0,0,0,0.5);
  transform: skewX(-35deg);
  transform-origin: right bottom;
  transition: all 1s
}
aside .aside-con {
  position: absolute;
  left: 150px;
  
  width: 400px;
  height: 100%;
  
  background: rgba(0,0,0,0.5);
  transition: all 1s
}

aside:hover {
  cursor: cell;
  right: 0;
}
aside:hover .aside-con {
  left: 50px;
}

/*img-box*/
aside .img-box {
  position: absolute;
  bottom: 50px;
  left: 50px;
  
  width: 300px;
  overflow: hidden;
}
aside .img-box img {
  display: block;
  width: 100%
}

aside .img-box article {
  margin-bottom: 15px
}
aside .img-box h3 {
  color: #ccc;
  padding-left: 10px;
  margin-bottom: 5px;
  transform: skewX(35deg);
}
aside .img-box a {
  display: block;
  opacity: 0.5;
}
aside .img-box a:hover {
  opacity: 0.9
}

aside .img-box article {
  transform: translate(200px);
  opacity: 0;
  transition: all 0.5s
}

aside:hover .img-box article {
  opacity: 1;
  transform: translate(0)
}

aside .img-box article:first-child {
  transition-delay: 0.4s
}
aside .img-box article:nth-child(2) {
  transition-delay: 0.2s
}
aside .img-box article:last-child {
  transition-delay: 0s
}

.sns {
  z-index: 1
}

/*btn*/
aside .btn {
  position: absolute;
  bottom: 100px;
  left: -50px;
  
  color: #b9fb05;
  transform: skewX(35deg);
  font-size: 50px;
  transition: all 1s
}
aside:hover .btn {}

/*삭제예정-작업용*/
aside .btn {
  border: solid #777;
  width: 150px;
  height: 50px
}
aside .btn i {
  position: absolute;
  right: 0
}
aside .btn i:nth-child(1) {}
aside .btn i:nth-child(2) {}
aside .btn i:nth-child(3) {}

@keyframes love {
  0% {
    right: 0
  }
  100% {
    right: 150px
  }
}








